@use "./fonts";
@use "./reset";
@use "./animations";

///
/// Global Styles
///
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: lato, sans-serif;
  color: #24221f;
  background-color: #fff;
}
a {
  color: #5d7c89;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.cd-product-builder {
  height: 100vh;
  overflow: hidden;
}
